.modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
  .modal-content {
    padding: 15px;
    border-radius: 15px!important;
  }

  @media (min-width: 710px){
  .modal-dialog {
    max-width: 700px!important;
  }
}